# OS
.DS_Store

# Hugo
public/
resources/_gen/
public-dev/

# Sphinx
build/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Logs
*.log
data/adsb_flights_combined.json
